@charset "ISO-8859-1";

body {
  background-image: url("../imagenes/fondo_vino.jpg");
  background-repeat: round;
  background-attachment: fixed;

}

h1 {
  float: right;
  margin-right: 100px;
  font-weight: bold;
  font-family: futura;
}

h3 {
  color: red;
  text-align: left;
  font-weight: bold;
}

p {
  text-align: justify;
  margin-top: 20px;
  font-weight: bold;
  color: white;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.logo {
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 10px;
  opacity: 0.6;
}

.texto_footer {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  font-size: 12px;
  font-family: courier;
}

footer {
  background: black;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  padding: 15px;
  bottom: 0px;
}

#promocion {
  padding-left: 100px;
  font-weight: 2px;
}

#contenedor {
  background-color: grey;
  opacity: 0.8;
  border-radius: 5px;
  padding: 10px;
}

#show-hide-passwd {
  cursor: pointer;
}

input {
  width: 50%;
}
