@charset "ISO-8859-1";


body {
background-image: url("imagenes/fondo_vino_index.jpg");
background-repeat: round;
background-attachment: fixed;
}

.title {
  color: whitesmoke;
  text-align: left;
}

label {
  color: white;
}

