@charset "ISO-8859-1";


body {
background-image: url("http://2.bp.blogspot.com/-L9HSphsmLu4/UHyprYlTMzI/AAAAAAAABe0/ONW2kWEYOtU/s1600/DSC03101+copia.jpg");
background-repeat: round;
background-attachment: fixed;
}


