@charset "ISO-8859-1";
/* CSS Document */

#contenedor_grande {
  width: 960px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

#encabezado {
  width: 960px;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  color: white;
  background: transparent;
}

#contenedor {
  align-items: center;
  width: 960px;
  margin-top: 5px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: #ffffff;
  background: transparent;
}

#contenedor_reservas{
  align-items: center;
  width: 940px;
  margin-top: 50px;
  margin-right: 5px;
  margin-bottom: 50px;
  margin-left: 5px;
  background-color: #ffffff;
}

.img1 {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top: 25px;
  border-top: 3px;
  border-bottom: 3px;
  border-left: 3px;
  border-right: 3px;
  width: 960px;
  background-image: url("imagenes/plato2.jpg");
}

.img2 {
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top: 25px;
  border-top: 3px;
  border-bottom: 3px;
  border-left: 3px;
  border-right: 3px;
  width: 960px;
  background-image: url("imagenes/vino2.jpg");
}

.img3 {
  float: none;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
  margin-top: 25px;
  border-top: 3px;
  border-bottom: 3px;
  border-left: 3px;
  border-right: 3px;
  width: 960px;
  background-image: url("imagenes/restaurante2.jpg");
}

.logo {
  margin-top: 100px;
  margin-left: 350px;
  margin-bottom: 100px;
  opacity: 0.6;
}

body {
  background-image: url("imagenes/fondo_vino_index.jpg");
  background-repeat: round;
  background-attachment: fixed;

}

h1 {
  float: right;
  margin-right: 100px;
  font-weight: bold;
  font-family: futura;
}

h3 {
  color: red;
  text-align: left;
  font-weight: bold;
}

p {
  text-align: justify;
  margin-top: 20px;
  font-weight: bold;
  color: white;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

footer {
  background: transparent;
  color: white;
  padding: 15px;
}
